.carrossel__titulo {
    color: var(--cor-laranja);
    background-color: var(--cor-branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.botoes {
    display: flex;
}

.card {
    border-radius: 10px;
    background: var(--cor-branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricao, h3 {
    padding-bottom: 1em;
}

.descricao__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--cor-azul-escuro);
    font-weight: 700;
    font-size: 18px;
    margin: .5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.botoes_item {
    margin: 0 .5em;
}

.botoes__ancora {
    background-color: var(--cor-laranja);
    padding: 1em 2.2em;
    color: var(--cor-branco);
    font-weight: 700;
    text-decoration: none;
}

.botoes__ancora:hover {
    background-color: #E7BA61;
}

.descricao__imagem {
    margin-bottom: 1em;
}

@media screen and (min-width: 700px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1200px) {
    .carrossel__container {
        display: flex;
        margin: 0 6vw 3em 6vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em;
    }

    .descricao {
        margin-right: 2em;
    }

    .descricao__titulo {
        font-size: 24px;
    }

    .descricao__texto {
        font-size: 16px;
    }

    .card {
        width: 60%;
        margin-left: 5em; 
    }
}
