.cabecalho__menu {
    width: 68px;
    height: 68px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: .5em 0 .5em 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
    background-color: var(--cor-branco);
    width: auto;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu {
    background-image: url(../assets/Menu\ Aberto.png);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-azul);
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-azul);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.lista-menu__item:active {
    background: var(--cor-azul);
}

.lista-menu__item:active > .lista-menu__link {
    -webkit-text-fill-color: var(--cor-branco);
    text-decoration: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 800px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-josefin);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        margin-left: .4em;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__imagem-transparente, .cabecalho__menu {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        background-color: var(--cor-branco);
        width: auto;
    }

    .opcoes__item:hover {
        background: var(--cor-azul);
        color: var(--cor-branco);
    }

    .opcoes__item:hover > .opcoes__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-azul);
        color: var(--cor-branco);
    }

    .lista-menu__item:hover {
        background: var(--cor-azul);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1200px) {
    .container__texto {
        display: block;
    }

    .container__titulo {
        margin-right: 1em;
        margin-left: .4em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}
